@@ -1,23 +0,0 @@
# Bot Token [Required]
BOT_TOKEN=MTM0Mjk1NTA5Nzc4NDg0ODQ3Ng.GK9Cdg.iW8ZoVjG5RGevJog2i18_F_AQYgyh4F9zEgim4

# Mongo Database Connection String [Required]
MONGO_CONNECTION=mongodb+srv://william2sober:zHXYgOwXMtxTw6wt@cluster0.10y3q.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Webhooks [Optional]
ERROR_LOGS=
JOIN_LEAVE_LOGS=

# Dashboard [Required for dashboard]
BOT_SECRET=ENmjQe6rXjzIZfEA8ucqfqA3pif2Fvqy
SESSION_PASSWORD=bot12$

# Required for Weather Command (https://weatherstack.com)
WEATHERSTACK_KEY=89523705ce78876788294b16210b2f5c

# Required for image commands (https://strangeapi.fun/docs)
STRANGE_API_KEY=NjY3NzBjN2E3ZGFhMjgzY2E1YjhmMDEw.fWfefxJ56mMWl1R4GTAvwyg9xE5LuqKT6FhuzxGAQ

# SPOTFIY [Required for Spotify Support]
SPOTIFY_CLIENT_ID=a6ee000632054e7cbdc4ff36ebc6cdb8
SPOTIFY_CLIENT_SECRET=db1951f7cb044e25b9b08f50852fa876